<!-- <header>Dashboard</header> -->
  <div id="main">
    <article class="container-article-class">
        <div  *ngFor="let container of containers" class="container-class" 
        [ngStyle]="{'top': container.top, 'left' : container.left, 
        'background-color' : container.color }"
         (click)="selectedConatiner(container)"></div></article>
    <aside><app-gamelogger></app-gamelogger></aside>
  </div>
  <app-couterpopover id="couter-modal">
    <div class="left-message-box">
      {{messageText}}
    </div>
    <div class="starting-game" *ngIf="startCounter !== 0">
      {{startCounter}}
    </div>
</app-couterpopover>
<!-- <footer>Footer</footer> -->